$label-btn-primary: #0f0e0e;
$bg-arrow-container: #22d695;

.btn-primary {
  border: 1.5px solid $secondary-800;
  background: none;
  color: $label-btn-primary;
  position: relative;
  border-radius: $radius-ml;
  font-weight: $extrabold;
  padding: 12px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  height: 52px;

  //DESKTOP
  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }

  //TABLET
  @media screen and (max-width: $desktop) and (min-width: $tablet) {
    font-size: 16px;
    height: 47px;
  }

  //MOBILE
  @media screen and (max-width: $tablet) {
    font-size: 16px;
    height: 43px;
  }
}

.btn-text {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .btn-primary:hover {
    background-color: $secondary-200;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
  }
}

.primary-arrow-container {
  background-color: $bg-arrow-container;
  border-radius: $radius-round;
  width: 24px;
  height: 24px;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 1024px) {
  .btn-primary:hover {
    background-color: $secondary-200;
    transition: ease-out 300ms;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);

    .primary-arrow-container {
      box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.14);
    }
  }
}
