.castraciones-container{
    margin-top: 6em;
    padding: 3em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (max-width: $tablet) {
        padding: 1em 1em;
    }
  
    .contentTitles {
      width: 366px;
      height: auto;
      text-align: center;
  
      @media screen and (max-width: $tablet) {
        width: 290px;
      }
  
      .container-subtitles{
        margin-bottom: 40px;

        @media screen and (max-width: $tablet) {
            margin-bottom: 16px;
        }
      }
  
      .subtitle {
        margin-bottom: 2em;
        color: $neutrals-900;

        
      }
    }

    h4{
        color: $success-300;
        line-height: 38.4px;
        text-align: center;

        @media screen and (max-width: $tablet){
            line-height: 26.4px;
            font-size: 22px;
        }
    }

    .title-cast-mobile{
        display: none;

        @media screen and (max-width: $tablet){
            display: block;
        }
    }

    .title-cast-desktop{
        display: block;

        @media screen and (max-width: $tablet){
            display: none;
        }
    }

    .last-subtitle{
        width: 568px;
        text-align: center;
        margin-bottom: 40px;

        @media screen and (max-width: $tablet) {
            width: 100%;
        }
    }

    .container-castraciones-cards{
        margin-top: 20px;
        margin-bottom: 40px;
        display: flex;
        gap: 40px;

        @media screen and (max-width: 1023px) {
            flex-wrap: wrap;
            justify-content: center;
            max-width: 900px;
        }

        @media screen and (max-width: 360px) {
            width: 100%;
        }

        .cards{
            background-color: $success;
            padding: $space-ml $space-m;
            border-radius: $radius-m;
            display: grid;
            align-content: start;
            gap: 13px;
            width: 274px;
            height: 265px;
            box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.18);

            @media screen and (max-width: $tablet) {
                width: 100%;
                height: auto;
                margin: 0 3em;

                @media screen and (max-width: 360px) {
                    margin: 0;
                }
            }

            .title-card{
                text-wrap: nowrap;
                font-size: 31px;
                font-weight: $semibold;
                color: $base-black;
                line-height: 37.4px;
            }

            .text-card{
                font-size: 20px;
                line-height: 24px;
                color: $base-black;
            }
        }

        .large-cards{
            height: 289px;

            @media screen and (max-width: $tablet) {
                height: auto;
            }
        }
    }

    .green-container{
        background: linear-gradient(180deg, #A7CF48 0%, #48CF8E 100%);
        border-radius: $radius-ml2;
        padding-left: $space-4xl;
        position: relative;
        height: 658px;
        margin: 0 5em;
        max-width: 1045px;

        @media screen and (max-width: $desktop) {
            padding-left: 30px;
            height: 620px;
        }

        @media screen and (max-width: $tablet) {
            height: 690px;
            padding-left: 0;
            width: 100%;

            @media screen and (max-width: 500px) {
                height: 760px;
            }

            @media screen and (max-width: 407px) {
                height: 900px;
            }
        }

        &:before{
            content: "";
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 0;
            background-image: url('/vet-castraciones.png'); 
            border-radius: $radius-ml2;
        }

        &:before {
            width: 463px;
            height: 401px;
            bottom: 0;
            right: 0;

            @media screen and (max-width: $desktop) {
                width: 380px;
                height: 329px;
            }

            @media screen and (max-width: $tablet) {
                width: 321px;
                height: 278px;
                
                @media screen and (min-width: 450px) and (max-width: $tablet){
                    right: 25%;
                    border-radius: 0;
                }
            }
        }
        

        .text-container{
            padding: $space-xl 10em $space-xl 0em;
            display: grid;
            gap: $space-xl;

            @media screen and (max-width: $desktop) {
                padding: 2em 1em;
                width: 100%;
                gap: 20px;
                justify-items: center;
            }

            @media screen and (max-width: $tablet) {
                padding: 2em 1em;
                width: 100%;
                gap: 20px;
                justify-items: center;
            }

            h5{
                color: $secondary-1000;
                line-height: 50px;
                font-size: 46px;
                font-weight: $bold;
                letter-spacing: -2px;
                margin-bottom: 0.2em;
                text-wrap: nowrap;

                @media screen and (max-width: $desktop) {
                    line-height: 40px;
                    font-size: 36px;
                    text-align: center;

                    @media screen and (max-width: $tablet) {
                        line-height: 42px;
                        font-size: 34px;
                        text-wrap: wrap;
                    }
                }

            }

            p{
                font-size: 20px;
                line-height: 24px;
                color: $secondary-1000;
                padding-right: 10em;

                @media screen and (max-width: $desktop) {
                    line-height: 19.2px;
                    font-size: 16px;
                    padding-right: 30px;
                }

                @media screen and (max-width: $desktop) {
                    padding-right: 10px;
                }

                @media screen and (max-width: 370px) {
                    max-width: 280px;
                    gap: 10px;
                }
            }

            .attention{
                font-size: 32px;
                line-height: 38.4px;
                font-weight: $semibold;
                width: 312px;
                padding: 0;

                @media screen and (max-width: $desktop) {
                    line-height: 33.6px;
                    font-size: 28px;
                    text-align: center;
                    margin-right: 10em;

                    @media screen and (max-width: $tablet) {
                        line-height: 26.4px;
                        font-size: 22px;
                        margin-right: 0em;

                        @media screen and (max-width: 325px) {
                            line-height: 26.4px;
                            font-size: 22px;
                            width: 270px;
                        }
                    }
                }

                
            }
        }
    }
}