.collaborations {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-self: center;

  .collaborations-text {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom: 20px;
      .new-line-title {
        display: block;
        text-align: center;
      }
    }

    p {
      text-align: center;
      width: 500px;

      @media screen and (max-width: $tablet) {
        width: 310px;
      }
    }
  }

  .collaborations-type {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-end;
  
    @media screen and (max-width: $desktop) and (min-width: $tablet) {
      width: 100%;
    }
    @media screen and (max-width: $tablet) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .collaboration-item1 {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      margin-bottom: 30px;
      gap: 39px;
      width: 100%;
      height: 100%;
      .desktop1 {
        width: 100%;
        height: 100%;

        @media screen and (max-width: $desktop) and (min-width: $tablet) {
          margin-bottom:30px
        }
        
        @media screen and (max-width: $tablet) {
          height: auto;
          content: url('/man-collaboration.png');
        }
      }

      @media screen and (max-width: $desktop) and (min-width: $tablet) {
        gap:10px
      }

      @media screen and (max-width: $tablet) {
        gap: 20px
      }
    }

    .collaboration-item2 {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      margin-bottom: 30px;
      gap: 37.5px;
      width: 100%;
        height: 100%;
      .desktop2 {
        width: 100%;
        height: 100%;

        @media screen and (max-width: $tablet) {
          height: auto;
          content: url('/dog-collaboration.png');
        }
      }
    }
    .collaboration-item3 {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      gap: 39px;
      width: 100%;
        height: 100%;
      margin-bottom: 30px;
      @media screen and (max-width: $desktop) and (min-width: $tablet) {
        display: none;
      }
      .desktop3 {
        width: 100%;
        height: 100%;

        @media screen and (max-width: $tablet) {
          height: auto;
          content: url('/woman-collaboration.png');
        }
      }

      @media screen and (max-width: $tablet) {
        gap: 20px
      }
    }
  }
  .collaboration-item4 {
    display: none;

    @media screen and (max-width: $desktop) and (min-width: $tablet) {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      gap:10px;

      .tablet3 {
        height: auto;
        margin-top: 20px;
        width: 100%;
        margin-bottom: 30px;
      }

      @media screen and (max-width: $tablet) {
        display: none;
      }
    }
  }
}