.collaborations {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .collaborations-text {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom: 20px;
      .new-line-title {
        display: block;
        text-align: center;
      }
    }

    p {
      text-align: center;
      width: 500px;

      @media screen and (max-width: $tablet) {
        width: 310px;
      }
    }
  }

  .collaborations-type {
    display: flex;
    justify-content: center;
    width: 1500px;

    @media screen and (max-width: $desktop) and (min-width: $tablet) {
      width: 780px;
    }
    @media screen and (max-width: $tablet) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .collaboration-item1 {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      margin-bottom: 30px;
      .desktop1 {
        height: 180px;
        margin-bottom: 65px;
        @media screen and (max-width: $desktop) and (min-width: $tablet) {
          height: 160px;
          margin-bottom: 57px;
        }
        @media screen and (max-width: $tablet) {
          width: 375px;
          height: 150px;
          margin-bottom: 30px;
        }
      }
    }

    .collaboration-item2 {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      margin-bottom: 30px;
      .desktop2 {
        height: 200px;
        margin-bottom: 30px;
        @media screen and (max-width: $desktop) and (min-width: $tablet) {
          height: 160px;
        }
        @media screen and (max-width: $tablet) {
          width: 375px;
          height: 150px;
          margin-bottom: 30px;
        }
      }
    }
    .collaboration-item3 {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      margin-bottom: 30px;
      @media screen and (max-width: $desktop) and (min-width: $tablet) {
        display: none;
      }
      .desktop3 {
        height: 230px;
        margin-bottom: 58px;

        @media screen and (max-width: $tablet) {
          width: 375px;
          height: 150px;
          margin-bottom: 30px;
        }
      }
    }
  }
  .collaboration-item4 {
    display: none;

    @media screen and (max-width: $desktop) and (min-width: $tablet) {
      display: flex;
      width: 750px;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      .tablet3 {
        height: 200px;
        margin-top: 20px;
        margin-bottom: 30px;
      }

      @media screen and (max-width: $tablet) {
        display: none;
      }
    }
  }
}