.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;

    .img {
      width: 110%;
      margin-top: 40px;
    }

    .img-text {
      margin-top: -80px;
      width: 435px;
      color: $neutrals-900;

      h4{
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
      }
      
      p {
        margin-top: 20px;
        font-size: 14px;
        line-height: 16.8px;
      }
    }
  }

  .button-inicio {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: $desktop) and (min-width: $tablet) {
  .error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    .container-img {

      .img {
        margin-top: 0px;
      }

      .img-text {
        h4 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
      }
    }

    .button-inicio {
      margin: 0px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .error-container {
    width: 100%;
    margin-top: 5em;
    
    .container-img {

      .img {
        width: 145%;
      }

      .img-text {
        width: 300px;

        @media screen and (max-width: 500px){
          margin-top: -40px;
        }

        h4 {
          font-size: 16px;

          br{
            display: none;
          }
        }
        p {
          font-size: 14px;

          br{
            display: none;
          }
        }
      }
    }

    .btn-primary{
      margin-top: 10px;
    }
  }
}
