@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$desktop-width-footer: 1024px;
$tablet-width-footer: 688px;
$tablet-height-footer: 254px;
$mobile-width-footer: 359px;
$mobile-height-footer: 255px;

.footer {
  width: 100%;
  background-color: #221F1F;
  color: #fff;
  padding: 56px 60px;
  font-family: 'Lato', sans-serif;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  margin: 0 auto;

  .footer-inner {
    width: 100%;
    max-width: $desktop-width-footer;
    margin: 0 auto;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor-logo-redes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 56px;

    .logo {
      display: flex;
      align-items: center;
      text-align: left;

      .logo-img {
        width: 120px;
        height: 120px;
        margin-right: 10px;
      }

      .logo-text {
        h4 {
          color: $secondary-600;
          margin: 0;
          font-size: 22px;
          line-height: 1.2;
        }
      }
    }

    .redes {
      text-align: left;

      .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 14px;

        h2 {
          margin-bottom: 10px;
          font-size: 20px;
          text-align: center;
        }

        .social-icons {
          display: flex;
          justify-content: center;

          .btn-contact {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            background-color: $secondary-600;
            color: #fff;
            border: none;
            border-radius: 36px;
            margin: 0 10px;

            img {
              display: block;
              margin: auto;
            }
          }

          .btn-contact:hover {
            background-color: $secondary-300;
          }
        }
      }
    }
  }

  .contenedor-info-navegacion {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 56px;

    .navegacion-CTA {
      width: 254px;
      height: 182px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    
      p {
        margin-bottom: 20px;
      }
    
      .btn-primary {
        width: 140px;
        height: 52px;
        margin: 10px 0;
        color: $secondary-600;
      }
    
      .btn-secondary {
        width: 140px;
        height: 52px;
        margin: 10px 0;
        background-color: $secondary-600;
      }
    
      .btn-contact, .btn-secondary:hover {
        background-color: $secondary-300;
      }
    }
  
    .navegacion-enlaces {
      width: 237px;
      height: 186px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    
      a {
        color: $secondary-600;
        text-decoration: none;
        margin: 5px 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 200px;
    
        .arrow {
          margin-left: 10px;
          flex-shrink: 0;
        }
      }
    
      a:hover {
        color: $secondary-300;
      }
    }
    
    .navegacion-ayuda {
      width: 232px;
      height: 122px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 0px;

      a {
        color: $neutrals-600;
        text-decoration: none;
        margin-bottom: 5px;
        display: block;
      }
    }
  }

  .ubicacion-derecho {
    text-align: center;

    p {
      margin: 5px 0;
    }

    .perro-mini {
      margin-top: 10px;
      color:$neutrals-500;
    }
  }

  .footer-bottom-line {
    width: calc(100%);
    border-top: 1px solid $neutrals-500;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 5px 0;
      color: $neutrals-500;
    }

    .freepik {
      color: $secondary-600;
      text-decoration: none;
    }

    .freepik:hover {
      color: $secondary-300;
    }
  }

  @media (max-width: $tablet-width-footer) {
    .contenedor-info-navegacion {
      flex-direction: column;
  
      .contenedor-logo-redes {
        order: 1;
      }
  
      .redes {
        order: 3;
      }
  
      .navegacion-CTA {
        width: 100%;
        height: 43px;
        flex-direction: row;
        align-items: center;
        order: 2;
  
        p {
          margin-bottom: 0;
          margin-right: 10px;
        }
  
        .btn-primary, .btn-secondary {
          width: 122px;
          height: 43px;
          margin: 2px;
        }
      }
  
      .navegacion-enlaces {
        order: 4;
      }
  
      .navegacion-ayuda {
        order: 5;
      }
  
      .ubicacion-derecho {
        order: 6;
      }
  
      .footer-bottom-line {
        order: 7;
      }
    }
  }
  
}
