@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$desktop-width-footer: 1024px;
$tablet-width-footer: 768px;
$mobile-width-footer: 375px;

.footer {
  width: 100%;
  background-color: #221F1F;
  color: #fff;
  padding: 56px 60px;
  font-family: 'Lato', sans-serif;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  margin: 0 auto;

  .footer-inner {
    width: 100%;
    max-width: $desktop-width-footer;
    margin: 0 auto;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor-logo-redes {
    max-width: 1320px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 56px;

    .logo {
      width: auto;
      height: 120px;
      display: flex;
      justify-content: left;
      align-items: center;
      margin-bottom: 56px;
      gap: 14px;

      .logo-img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        margin-right: 10px;
      }

      .logo-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h4 {
          font-size: 22px;
          color: $secondary-700;
          line-height: 1.2;
          text-align: center;
          margin: 0;
        }
      }
    }

    .redes {
      width: 278px;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 56px;
      gap: 14px;

      .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 14px;

        h2 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: center;
          gap: 10px;
          font-size: 20px;
          text-align: center;
          margin-bottom: 10px;
        }

        .social-icons {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 20px;

          .btn-contact {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            background-color: $secondary-700;
            color: #fff;
            border: none;
            border-radius: 36px;
            margin-right: 10px;
            margin-bottom: 10px;

            img {
              display: block;
              margin: auto;
            }

            &:hover {
              background-color: $neutrals-100;
            }
          }

          .btn-contact:hover {
            background-color: $secondary-300;
          }
        }
      }
    }

    @media (max-width: $mobile-width-footer){
      .redes{
        order: 7;
      }
    }
  }

  .navegacion-general {
    width: 100%;
    max-width: 1320px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 56px;

    .navegacion-CTA {
      width: 254px;
      height: 182px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      @media screen and (max-width: 902px) {
        height: auto;
      }

      p {
        font-size: 20px;
        text-align: left;
        margin-bottom: 10px;
        line-height: 24px;
        color: $base-white;
      }

      .btn-primary {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 140px;
        height: 52px;
        color: $secondary-700;
        text-align: center;
        gap: 10px;
        text-decoration: none;
      }

      .btn-primary:hover {
        border-color: #9ae69c;
        color: #9ae69c;
        background-color: transparent;
      }

      .btn-secondary {
        width: 140px;
        height: 52px;
        text-decoration: none;
        background-color: $secondary-700;
        text-align: center;
        gap: 10px;
        font-weight: 800;
      }

      .btn-secondary:hover {
        background-color: $secondary-300;
      }
    }

    .navegacion-enlaces {
      max-width: 420px;
      width: 237px;
      height: 186px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 14px;
      font-size: 22px;

      a {
        width: 335px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 14px;
        color: $secondary-700;
        text-decoration: none;
        max-width: 100%;
        font-weight: 700;

        &:hover {
          color: $secondary-300;

          .arrow {
            stroke: $secondary-300;
          }
        }
      }

      a:hover {
        color: $secondary-300;
      }

      .arrow {
        stroke: $secondary-700;
        transition: stroke 0.3s;

        &:hover {
          stroke: $secondary-300;
        }
      }
    }

    .navegacion-ayuda {
      width: 232px;
      max-width: 420px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 14px;
      font-size: 20px;

      .enlaces-ayuda {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 6px;
      }

      a {
        color: $neutrals-600;
        text-decoration: none;
        display: block;

        &:hover {
          color: $neutrals-100;
        }
      }

      .no-hover {
        &:hover {
          color: $neutrals-600;
        }
      }
    }
  }

  .ubicacion-derechos {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 56px;

    .ubicacion {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;

      .perro-mini {
        color: $neutrals-500;
      }
    }

    .derechos {
      width: calc(100%);
      border-top: 1px solid $neutrals-500;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: nowrap;

      p {
        margin: 5px 0;
        color: $neutrals-500;
      }

      .creditos {
        max-width: 420px;
        text-align: right;
        display: flex;
        flex-direction: horizontal;
        align-items: middle;
        justify-content: center;
        color: $neutrals-500;

        .freepik {
          color: $secondary-700;
          text-decoration: none;
        }

        .freepik:hover {
          color: $secondary-300;
        }
      }
      
    }
    @media (max-width: $mobile-width-footer){
      .derechos{
        width: 335px;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  @media (max-width: $tablet-width-footer) {
    .footer-inner {
      flex-direction: column;

      .contenedor-logo-redes {
        gap: 0;
        flex-direction: column;

        .redes {
          @media screen and (max-width: 325px) {
            .social-icons {
              gap: 5px;
            }
          }
        }
      }

      .navegacion-general {
        flex-direction: column;
        gap: 40px;
      }

      .navegacion-CTA {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        order: 2;

        p {
          margin-bottom: 0;
          margin-right: 10px;
        }

        .btn-primary,
        .btn-secondary {
          height: 43px;
          margin: 2px;
        }
      }

      .navegacion-enlaces {
        order: 3;
      }

      .navegacion-ayuda {
        order: 4;
      }

      .redes {
        order: 5;
      }

      .ubicacion-derecho {
        order: 6;
      }

      .footer-bottom-line {
        order: 7;
      }
    }
  }

  @media (max-width: $mobile-width-footer) {
    .footer-inner {
      flex-direction: column;
      align-items: center;
      padding: 40px 20px;
      gap: 56px;
      width: fixed;
      height: auto;
    }
  
    .footer-content {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }
  
    .navegacion-CTA {
      width: 335px;
      max-width: 420px;
      gap: 20px;
  
      p {
        margin-bottom: 20px;
      }
  
      .btn-primary {
        gap: 0px;
      }
    }
  }
  
}