.info-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .info-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 60px;
        max-width: 1024px;
        width: 1024px;
        height: 326px;

        .info-text {
            max-width: 50%;
            width: 360px;
            height: 200px;

            h1 {
                font-size: 46px;
                margin-bottom: 10px;
                font-family: 'mountriel serif';
                line-height: 52.44px;
            }

            p {
                font-size: 18px;
                font-family: 'Lato';
            }
        }

        .info-image {
            img {
                width: 548px;
                height: 325px;
            }
        }

        @media (max-width: 768px) {
            width: 768px;
            height: 268px;
            justify-content: space-between;
            margin-top: 68px;

            .info-text {
                margin-bottom: 20px;
                width: 302px;
                height: 160px;

                h1 {
                    font-size: 32px;
                    line-height: 36.48px;
                    letter-spacing: -1%;
                }
                p {
                    font-size: 16px;
                    line-height: 19.2px;
                    font-family: 'Lato';
                }
            }
            .info-image{
                img{
                   width: 426px;
                   height: 268px; 
                }
            }

            .info-image {
                img {
                    width: 100%;
                }
            }
        }

        @media (max-width: 356px) {
            .info-text {
                h1 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 0.875rem;
                }
            }
        }
    }
}