nav{
  position: fixed;
  width: 100%;
  z-index: 999;

  .navbar {
    background: $base-white;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;

    .container-tablet{
      display: none;
    }

    .navbar-links {
      display: flex;
      list-style: none;
      gap: 16px;
      align-items: center;

      .arrow-icon{
          display: none;
      }

      a {
        text-decoration: none;
        color: $base-black;
        font-size: 18px;

        .active {
          color: $secondary-900;
          font-weight: $extrabold;
        }

        &:hover{
          font-weight: $extrabold;
          transition: all 200ms ease-in-out;
        }
      }
    }

    .hamburger {
      display: none;
    }

    .btn-adoptions-tablet{
      display: none;
    }

    @media screen and (max-width: $desktop) and (min-width: $tablet) {
      padding: 8px 40px;
      align-items: baseline;
      

      .container-tablet{
        display: inline-block;
        position: relative;
        z-index: 51;
      }

      .navbar-links {
        display: none;
      }

      .btn-adoptions-tablet{
        display: inline-block;
        margin-right: 24px;
      }

      .hamburger {
        display: inline-block;
        z-index: 51;
      }

      .navbar-links.is-open {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        gap: 24px;
        padding: 24px 40px;
        background: rgba(253, 244, 217, 0.8);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: $radius-ml2;
        border-bottom-right-radius: $radius-ml2;
        z-index: -1;

        li{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .arrow-icon{
          display: flex;
        }
      }

      .navbar-links.is-open a {
        display: block;
      }

      .navbar-links.is-open a:last-child {
        border-bottom: none;
        display: none;
      }
    }

    @media screen and (max-width: 767.98px) {
      padding: 8px 15px;

      .container-tablet{
          display: inline-block;
          z-index: 51;
      }

      .navbar-links {
        display: none;
      }

      .btn-adoptions-tablet{
          display: none;
      }

      .hamburger {
        display: inline-block;
        z-index: 51;
      }

      .navbar-links.is-open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        gap: 24px;
        padding: 24px 24px;
        background: rgba(253, 244, 217, 0.8);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: $radius-ml2;
        border-bottom-right-radius: $radius-ml2;
        z-index: -1;
      }

      .navbar-links.is-open a {
        display: block;
      }

      .navbar-links.is-open a:last-child {
        border-bottom: none;
      }
    }
  }
}

