//COLORS
// Color Palette
$base-white: #fafafa;
$base-black: #0b0a0a;
$primary: #f5bf19;
$secondary: #124914;
$success: #a4f4e7;
$warning: #f4c790;
$error: #e4626f;
$mision: #1da754;
$vision: #f1ab29;
$values: #fe5271;

//Primary
$primary-100: #fdf4d9;
$primary-200: #fceab2;
$primary-300: #fadf8c;
$primary-400: #f8d466;
$primary-500: #f7ca3f;
$primary-600: #e1ac0a;
$primary-700: #c09308;
$primary-800: #9e7907;
$primary-900: #7d6005;
$primary-1000: #5b4604;
$primary-100: #fdf4d9;
$primary-200: #fceab2;
$primary-300: #fadf8c;
$primary-400: #f8d466;
$primary-500: #f7ca3f;
$primary-600: #e1ac0a;
$primary-700: #c09308;
$primary-800: #9e7907;
$primary-900: #7d6005;
$primary-1000: #5b4604;

//Secondary
$secondary-100: #ddf7de;
$secondary-200: #bceebe;
$secondary-300: #9ae69d;
$secondary-400: #79de7c;
$secondary-500: #57d65c;
$secondary-600: #35cd3b;
$secondary-700: #2bae30;
$secondary-800: #238c26;
$secondary-900: #1a6b1d;
$secondary-1000: #0e370f;
$secondary-100: #ddf7de;
$secondary-200: #bceebe;
$secondary-300: #9ae69d;
$secondary-400: #79de7c;
$secondary-500: #57d65c;
$secondary-600: #35cd3b;
$secondary-700: #2bae30;
$secondary-800: #238c26;
$secondary-900: #1a6b1d;
$secondary-1000: #0e370f;

//Neutrals
$neutrals-100: #e4e4e4;
$neutrals-200: #cfcece;
$neutrals-300: #bab8b8;
$neutrals-400: #a5a1a1;
$neutrals-500: #908b8b;
$neutrals-600: #7a7474;
$neutrals-700: #655f5f;
$neutrals-800: #4e4949;
//Neutrals
$neutrals-100: #e4e4e4;
$neutrals-200: #cfcece;
$neutrals-300: #bab8b8;
$neutrals-400: #a5a1a1;
$neutrals-500: #908b8b;
$neutrals-600: #7a7474;
$neutrals-700: #655f5f;
$neutrals-800: #4e4949;
$neutrals-900: #383434;
$neutrals-1000: #221f1f;
$neutrals-1000: #221f1f;

//Success
$success-100: #a4f4e7;
$success-200: #15b097;
$success-300: #0b7b69;
$success-100: #a4f4e7;
$success-200: #15b097;
$success-300: #0b7b69;

//Warning
$warning-100: #f4c790;
$warning-200: #eda145;
$warning-300: #cc7914;
$warning-100: #f4c790;
$warning-200: #eda145;
$warning-300: #cc7914;

//Error
$error-100: #e4626f;
$error-200: #cd3744;
$error-300: #8c1b23;
$error-100: #e4626f;
$error-200: #cd3744;
$error-300: #8c1b23;

//SPACING
$space-base: 16px;
$space-xxs: 2px;
$space-xs: 4px;
$space-s: 6px;
$space-sm: 10px;
$space-m: 14px;
$space-ml: 20px;
$space-l: 28px;
$space-xl: 40px;
$space-2xl: 56px;
$space-3xl: 64px;
$space-l: 28px;
$space-xl: 40px;
$space-2xl: 56px;
$space-3xl: 64px;
$space-4xl: 72px;
$space-5xl: 80px;
$space-6xl: 112px;
$space-5xl: 80px;
$space-6xl: 112px;

//RADIUS
$radius-xxs: 2px;
$radius-xs: 4px;
$radius-s: 6px;
$radius-sm: 10px;
$radius-sm: 10px;
$radius-m: 16px;
$radius-ml: 24px;
$radius-ml2: 32px;
$radius-lg: 36px;
$radius-xl: 54px;
$radius-round: 999px;

//SHADOWS
$shadow-1: 0px 8px 13px 0px rgba(0, 0, 0, 0.18);

//FONT-WEIGHT
$extrabold: 800;
$bold: 700;
$semibold: 600;
$regular: 400;
