//COLORS
// Color Palette
$base-white: #FAFAFA;
$base-black: #0B0A0A;
$primary: #F5BF19;
$secondary: #124914;
$success: #A4F4E7;
$warning: #F4C790;
$error: #E4626F;

//Primary
$primary-100: #FDF4D9;
$primary-200: #FCEAB2;
$primary-300: #FADF8C;
$primary-400: #F8D466;
$primary-500: #F7CA3F;
$primary-600: #E1AC0A;
$primary-700: #C09308;
$primary-800: #9E7907;
$primary-900: #7D6005;
$primary-1000: #5B4604;

//Secondary
$secondary-100: #DDF7DE;
$secondary-200: #BCEEBE;
$secondary-300: #9AE69D;
$secondary-400: #79DE7C;
$secondary-500: #57D65C;
$secondary-600: #35CD3B;
$secondary-700: #2BAE30;
$secondary-800: #238C26;
$secondary-900: #1A6B1D;
$secondary-1000: #0E370F;

//Neutrals 
$neutrals-100: #E4E4E4;
$neutrals-200: #CFCECE;
$neutrals-300: #BAB8B8;
$neutrals-400: #A5A1A1;
$neutrals-500: #908B8B;
$neutrals-600: #7A7474;
$neutrals-700: #655F5F;
$neutrals-800: #4E4949;
$neutrals-900: #383434;
$neutrals-1000: #221F1F;

//Success
$success-100: #A4F4E7;
$success-200: #15B097;
$success-300: #0B7B69;

//Warning
$warning-100: #F4C790;
$warning-200: #EDA145;
$warning-300: #CC7914;

//Error
$error-100: #E4626F;
$error-200: #CD3744;
$error-300: #8C1B23;

//SPACING
$space-base: 16px;
$space-xxs: 2px;
$space-xs: 4px;
$space-s: 6px;
$space-sm: 10px;
$space-m: 14px;
$space-ml: 20px;
$space-l: 28px;  
$space-xl: 40px;  
$space-2xl: 56px;  
$space-3xl: 64px;  
$space-4xl: 72px;
$space-5xl: 80px;  
$space-6xl: 112px;    


//RADIUS
$radius-xxs: 2px;
$radius-xs: 4px;
$radius-s: 6px;
$radius-sm: 10px; 
$radius-m: 16px;
$radius-ml: 24px;
$radius-lg: 36px;
$radius-xl: 54px;
$radius-round: 999px;                       


//SHADOWS
$shadow-1: 0px 8px 13px 0px rgba(0, 0, 0, 0.18);